<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
	<div th:replace="fragments :: header"></div>

	<div class="row spacer-5">
		<div class="col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
			<form method="post" th:action="@{/log-in-process}">
				<div class="alert alert-danger" th:text="${error}" th:unless="${error == null}">
					Some error text here.
				</div>
				<fieldset class="form-group">
					<label for="user-name"><span class="fa fa-male" aria-hidden="true"></span> User Name</label>
					<input type="text" class="form-control" id="user-name" name="userName" required autofocus>
				</fieldset>
				<fieldset class="form-group">
					<label for="password"><span class="fa fa-lock" aria-hidden="true"></span> Password</label>
					<input type="password" class="form-control" id="password" name="password" required>
				</fieldset>
				<div class="spacer-2">
					<button type="submit" class="btn btn-primary">Log in</button>
					<a class="btn btn-link pull-right" th:href="@{/sign-up}">Sign up</a>
				</div>
			</form>
		</div>
	</div>
</div>
<div th:replace="fragments :: scripts"></div>
</body>
</html>